body{
    font-family: 'Inter', sans-serif !important; 
    -webkit-font-smoothing: antialised; 
}

.name-logo,
.name-logo:hover{
    font-size: 1.5rem; 
    text-decoration: none;
    color: #000; 
}


/* NAVBAR */

.navbar{
    background-color: #fff; 
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    display: flex; 
    justify-content: flex-start;
}

.navbar a{
    font-weight: 400; 
}
.btn{
    border-radius: 10px; 
}
.navbar .btn{
    background-color: #3395FF; 
    border-radius: 10px; 
    color: #fff;  
}

.img{
    max-width: 17%;  
    height: auto; 
    
}

#actnow-name{
    font-weight: 500; 
    color: #ee964b;
}

.btn-acessibilidade{
    background-color: #333333; 
}

.team-img{
    opacity: 0; 
    
}

.fade-in{
    transition:  0.5s ease-in-out;
}



/* HOVER - NAVBAR */
.navbar .nav-link:hover{
    text-decoration: underline; 
    text-decoration-color: #000; 
    text-decoration-thickness: 1px;

}


/* MAIN SECTION */
.main-content{
    display: flex; 
    flex-direction: column;
    /* min-height: 100vh; */ 
}

.main-btn{
    background-color: #3395FF;
    color: #fff; 
    border-radius: 10px; 
    padding: 0.3rem 2.5rem 0.3rem 2.5rem; 
    animation: 0.2s; 
    font-size: 1rem; 
}



.register-text{
    font-size: 1.06rem; 
    color: #747479; 
}

/* HOVER - MAIN SECTION */
.main-btn:hover,
.navbar .btn:hover{
    background-color: #137EA7;
    color: #fff;  
}

.login-btn:hover{
    text-decoration: underline; 
    text-decoration-thickness: 2px;
}


/* AREAS SECTION */
section{
    background-color: #2346A6;
}
.areas-container{ 
    background-color: #fff; 
    
}




.subject-container{
    background-color: white; 
    border-radius: 20px; 
    border: 1px solid; 
    border-color: rgba(12, 18, 32, 0.1);
    box-shadow: 0rem 0.375rem 1.5rem 0rem rgba(140, 152, 164, 0.125);
}

/* cards */
.card{
    width: 22rem; 
}

#card-tecnologia{
    color: #56a8de; 
}

#card-matematica{
    color: #15ba9c; 
}
#card-saude{
    color: #fc9753; 
}
#card-musica{
    color: #e4769e; 
}
#card-linguagens{
    color: #cc6308;
}
#card-cultura{
    color: #966ccf;
}

.card-text{
    font-weight: 400;
}


/* card - hover */
.card:hover{
    transform: scale(1.1); 
    transition: transform 300ms ease-in-out;
    cursor: default;
    box-shadow: rgba(51, 161, 208, 0.502) 0px 2px 8px 0px;
}

.bi,
.fa-solid,
.fa-regular{
    font-size: 1rem;
}

/* FOOTER */
.footer{
    background-color: #2346A6;
}


/* FOOTER - HOVER */
footer a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    

}

.text-to-change-container p,span{
    position: relative; 
    font-size: 2.5rem; 
    font-weight: 600; 
}


/* test text change */
.text-to-change-container .text-to-change:before{
    content: "";    
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%;
    background-color: #fff;
    border-left: 2px solid #333;
    color: red; 
    animation: animate 4s steps(12) infinite;

}

@keyframes animate{
    40%,60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

/* preciso de uma media query para centralizar o texto que muda em telas menores */


#create-project-landing{
    background-color: #f5f5f5;
}

.hidden{
    display: none; 
}

.user-username{
    font-size: 1rem; 
}

.user-button{
    border: 1px solid #137EA7; 
    border-radius: 10px; 
    transition: .2s;
    padding: 0.2rem 1rem;
}

.user-button span{
    padding-right: 0.2rem; 
    color: #137EA7;
}


/* #create-project-landing p.active{
    font-size: 1rem; 
} */