.form-container{
    border-radius: 10px; 
    width: 40%;  
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

}

.img-container{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.logo-img{
    width: 8%; 
    height: auto; 
}

main h4{
    font-size: 2rem; 
}

.register-text{
    font-size: 1.06rem; 
    color: #747479; 
}

.header-container{
    background-color: #8192B0;
    border-top-left-radius: 28px;
    border-top-right-radius: 10px;
}

.form-control{
    font-weight: 400 !important; 
}


.btn{
    border-radius: 10px; 
}

.form-control{
    font-weight: 300; 
}

.input-sm{
    border-radius: 5px; 
}

#password-btn{
    position: absolute; 
    top: 64%; 
    right: 1em; 
    transform: translateY(-50%);
    z-index: 1; 
    cursor: pointer; 
}

@media (max-width: 700px){
    body{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-img{
        width: 20%; 
        height: auto; 
    }
    .form-container{
        width: 90%; 
    }

    .btn{
        width: 100%;
    }
}