.form-container{
    background-color: #F9F7F5  ;
    border-radius: 30px; 
    /* width: fit-content; */ 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.img-box{    
    border-radius: 30px;
    background-color: #F4D35E;
}

.img-box img{    
    border-radius: 30px;
}



.header-container{
    background-color: #8192B0;
    border-top-left-radius: 28px;
    border-top-right-radius: 10px;
}

.form-control{
    font-weight: 400 !important; 
}

.login-widget{
    border-radius: 4.25rem; 
    max-width: 80%; 
}


.btn{
    border-radius: 50px; 
}

.form-control{
    font-weight: 300; 
}

#password-btn{
    position: absolute; 
    right: 10px; 
    top: 43%; 
    
}


