.paragraph{
    font-size: 1.125rem;
    line-height: 1.5; 
    text-align: justify; 
    padding-bottom: 1rem; 
    padding-top: 1rem; 
}

@media(max-width: 700px){
    h4{
        text-align: center;
    }
    .paragraph{
        padding: 1rem; 
    }

}