.recruit-text{
    font-size: 1.06rem; 
    color: #747479;
}

.filter-column{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f5f5f5;
}

.habilidades-container{
    border-top: 1px solid rgba(0, 0, 0, 0.236);
    border-bottom: 1px solid rgba(0, 0, 0, 0.236);
}
.disponibilidade-container{
    border-bottom: 1px solid rgba(0, 0, 0, 0.236);
}

.bi-trash{
    cursor: pointer;
}

.bi-trash:hover{
    color: #EE4238;
    /* transition: transform 200ms ease-in-out; */
    transform: translateY(-1px);
}



#filtrarBtn{
    font-weight: 500; 
}

.error-container{
    background-color: #F8D0C7; 
    border: none; 
    font-size: 1.2rem; 
    border-radius: 5px; 
    padding: 0.75rem; 
    font-weight: 400; 
    
}

.profile-container{
    border-radius: 10px; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    max-width: 500px;
    margin: 1rem; 
    padding: 1rem 1.5rem; 
    margin-bottom: 1rem; 
}

.user-main-info{
    display: flex; 
    align-items: center;
}

.user-main-info img{
    width: 3rem; 
    height: 3rem; 
    border-radius: 999px; 
    margin: .5rem; 
}

.profile-container h3{
    font-size: 1.5rem; 
    font-weight: 400; 
}

/* .profile-container:hover{
    transform: scale(1.04);
    transition: transform 330ms ease-in-out; 
    box-shadow: rgba(60, 102, 171, 0.24) 0px 3px 8px;

} */



.contacts, .information{
    display: flex; 
}

a{
    text-decoration: none; 
}

.invite-btn{
    border: 1px solid #0D6EFD; 
    color: #0D6EFD;   
    font-weight: 500;   
}

.invite-btn:hover{
    background-color: #0D6EFD;      
    color: #fff; 
}

