.user-info-container{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1rem; 
}
.user-info-header{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;    
}

.username-container{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.username{
    font-size: 1.5rem; 
}

#edit-profile-button{
    cursor: pointer;  
    color: #44546F; 
}
#edit-password-button{
    cursor: pointer; 
    color: #44546F; 
    margin-left: 0.6rem;    
}

.projects{
    display: flex; 
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.projects-number{
    font-size: 1.3rem; 
}

.email-field{
    font-size: 1rem;  
    color: #747479;
}

.row{
    display: flex; 
    align-items: flex-start;
    justify-content: center;
}

hr{
    width:100%; 
    height: 1rem; 
}

.profile-container{
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* max-width: 19rem; 
    min-height: 14rem; */ 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#delete-profile-button{
    border: 1px solid #AD4646; 
    padding: 0.3rem 1rem; 
    color: #AD4646;
    border-radius: 5px; 
    color: red;
}

#delete-profile-button:hover{
    color: red; 
    background-color: #ad464692; 
}

.volunteer-name{
    font-weight: 600; 
    font-size: 1.5rem; 
}
.volunteer-bio{
    padding: 0.5rem; 
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;

}
.bi-person-badge{
    color: #0D6EFD; 
}

.bi-telephone{
    color: #63BA3C; 
}

.volunteer-phone{
    padding: 0.5rem; 
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer; 
}

.volunteer-location{
    padding: 0.5rem; 
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-weight: 600; 
    color: #747479; 
    cursor: pointer; 
}

/* .volunteer-bio:hover,
.volunteer-location:hover,
.volunteer-phone:hover{
    background-color: #E9EAEE; 
} */