.profile-container{
    border-radius: 15px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    max-width: 500px;
    margin: 0 auto; 
    padding: 1rem 1.5rem; 
}

.profile-container:hover{
    transform: scale(1.04);
    transition: transform 330ms ease-in-out; 
    box-shadow: rgba(60, 102, 171, 0.24) 0px 3px 8px;

}

.contacts, .information{
    display: flex; 
}

a{
    text-decoration: none; 
}

.btn:hover{
    transform: scale(1.1); 
    transition: transform 330ms ease-in-out; 
}

