/* .main-box{
    border-radius: 2px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} */

.proj-container{   
    border-radius: 5px; 
    padding: 1rem;
    background-color: #fff;
}

.proj-titulo{
    font-size: 1.875rem;
    font-weight: 600; 
}

.calendar-title{
    font-size: 1.25rem; 
}

.atv-content{
    padding: 1rem; 
    border-radius: 20px 10px 20px 20px; 
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer; 
}

.atv-content:hover{
    background-color: #E9EAEE;
}

.atv-content span,
.publico-alvo{
    font-size: 0.75rem; 
    color: #989090;
}

.atv-content p{
    font-size: 1.25rem; 
    font-weight: 400; 
}

.proj-container ul li{
    font-size: 1rem;
}

.proj-container p{
    font-size: 1.05rem; 
    font-weight: 400; 
}

.recrutar-btn{
    background-color: #F4D35E;
}

.recrutar-btn:hover{
    filter: brightness(0.95);
}

/* teste */
.buttons-container{
    background-color: #fff;
    border-radius: 20px;
    /* max-width: fit-content; */
    position: relative; 
    display: flex; 
    justify-content: space-between;
    align-items: center;

}
.buttons-container a{
    text-decoration: none; 
}

.buttons-container .fa{
    font-size: 1.2rem;
    color: #44546F; 
    padding: 0.5rem; 
    border-radius: 20px;
    font-weight: bold; 
}

.buttons-container .bi:hover{
    background-color: #F1F2F4;
}
.recruit-btn{
    color: #0B5ED7;
    border: 1px solid; 
    border-radius: 10px; 
    transition: .2s; 
    background-color: #fff;
}

.recruit-btn:hover{
    border: 1px solid transparent;  
    background-color: #0B5ED7; 
    color: #fff; 
}

.recruit-btn,
.create-activity-button{
    padding: 0.2rem 1rem; 
}

.recruit-btn span, 
.create-activity-button span{
    margin-right: 0.2rem;
}


/* .buttons-container a:nth-child(3){
    color: #F4D35E; 
}

.buttons-container a:nth-child(4){
    color: #F95738;
} */

/* #tooltip{
    position: absolute; 
    z-index: 1000; 
    display: none;
    bottom: 1.7rem;
    background-color: #f5f5f5; 
}

.hidden{
    display: none; 
} */

dialog::backdrop{
    background-color: rgb(0 0 0 / .5);
}

dialog{ 
    border: none; 
    border-radius: 10px; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dialogExclusao{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
}

dialog #delete-project-button{
    border: 1px solid #AD4646; 
    padding: 0.3rem 1rem; 
    color: #AD4646;
    border-radius: 5px; 
    color: red; 
}

dialog #exclamation-triangle{
    color: red; 
}

dialog span{
    font-size: 1.25rem; 
    font-weight: 500; 
    color: #32404A; 
}

dialog #dialog-warning{
    font-size: 1rem; 
    color: #959595; 
}


dialog #delete-project-button:hover{
    color: red; 
    background-color: #ad464692; 
    
}

dialog button{
    border: none; 
    background: transparent; 
    border: 1px solid #626f8654;
    padding: 0.3rem 1rem; 
    border-radius: 5px; 
}

.pencil-icon,
.circle-icon,
.trash-icon{
    position: relative; 
    display: inline-block; 
}

.pencil-icon .tooltiptext,
.circle-icon .tooltiptext,
.trash-icon .tooltiptext{
    visibility: hidden; 
    width: 120px; 
    background-color: #44546F;
    color: #fff; 
    text-align: center;
    padding: 5px 0; 
    border-radius: 6px; 
    bottom: 100%; 
    left: 50%; 
    margin-left: -60px; 
    font-size: 0.75rem; 
    position: absolute; 
    z-index: 1; 
}

.pencil-icon:hover .tooltiptext,
.circle-icon:hover .tooltiptext,
.trash-icon:hover .tooltiptext{
    visibility: visible;
    
}

.activities-calendar{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activities-calendar h4{
    padding-bottom: 0.75rem; 
}

.activity-item{
    padding-bottom: 0.75rem; 
}

.edit-field-dialog{
    width: 50%; 
}

.edit-description-header{
    display: flex; 
    justify-content: space-between;
    gap: 2rem; 
}

.edit-dialog-form{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
}

.activity-container{
    width: 20rem; 
    height: auto; 
    padding: 0.5rem 1rem;  
    border-radius: 15px; 
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.activity-header{
    width: 17rem; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.activity-span{
    font-size: 1rem; 
    font-weight: 500; 
}

.activity-span .bi-sticky-fill{
    color: #63BA3C; 
}

#activity-calendar{
    padding: 2rem; 
    text-align: center;
    font-size: 1.25rem; 
}

.delete-activity-btn,
.edit-activity-btn{
    color: #44546F; 
    cursor: pointer; 
    transition: 0.2s; 
}

.delete-activity-btn:hover{
    color: #E83F36; 
}
.edit-activity-btn:hover{
    color: #0D6EFD; 
}




