.form-container{
    background-color: #F3F1EB;
    border-radius: 30px; 
    width: fit-content; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.header-container{
    background-color: #8192B0;

    border-top-left-radius: 28px;
    border-top-right-radius: 10px;
}

.form-control{
    border-radius: 30px; 
}

.login-widget{
    border-radius: 4.25rem; 
    max-width: 80%; 
}


.btn{
    border-radius: 50px; 
}

.form-control{
    font-weight: 300; 
}

#password-btn{
    position: absolute; 
    right: 10px; 
    top: 43%; 
    
}