<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon"><link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  />
  <link
  rel="stylesheet"
  href="https:/use.fontawesome.com/releases/v5.15.4/css/solid.css"
  />
  <link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="../assets/js/recrutar-voluntario.js" defer></script>
  <script src="assets/js/script.js" defer></script>
  <link rel="stylesheet" href="../assets/css/recrutar-voluntario.css">
  <link rel="stylesheet" href="../assets/css/index-style.css">
  <!-- <link rel="stylesheet" href="../assets/css/login-style.css"> -->
  <link rel="stylesheet" href="../assets/css/how-to-start.css">

  <title>ActNow - Como começar</title>
</head>
<body>

      <!-- HEADER -->
  <nav class="navbar navbar-dark sticky-top navbar-expand-lg">
    <div class="container-fluid">

      <a href="/" class="name-logo fw-bold "><img class="img img-fluid me-2" src="../assets/img/blue-actnow-logo.png"
          alt="Logo do ActNow">ActNow</a>

      <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">

          <li class="nav-item">
            <a href="" class="nav-link text-dark">Áreas</a>
          </li>

          <li class="nav-item">
            <a href="" class="nav-link text-dark">Contatos</a>
          </li>

          <li class="nav-item me-2">
            <a href="../index.html" class="nav-link text-dark">Início</a>
          </li>

          <li class="nav-item">
            <a href="" class="btn me-3">
              <span class="fa-solid fa-user"></span>
              Perfil</a>
          </li>

          <!-- <li class="nav-item">
                    <a href="" id = "btn-tema" class="btn me-3">Tema</a>
                </li> -->

        </ul>
      </div>

    </div>
  </nav>
  <!-- FIM HEADER -->

  <!-- Possivelmente... -->
  <div class="container main-container">
    <h2 class = "text-center fw-bold">Como começar?</h2>
    <p class = "paragraph">Criar um Projeto Social pode ser uma tarefa desafiadora, por isso, o tutorial abaixo visa explicar em detalhes sobre o porquê criar um Projeto Social e como usar o <strong>ActNow</strong> para gerenciá-lo após a criação. Os seguintes tópicos serão abordados:</p>
      <ol>
        <li><a href="#what-is-it">O que são Projetos Sociais</a></li>
        <li><a href="#how-to-choose">Como escolher uma causa</a></li>
        <li><a href="#how-to-plan">Como fazer o planejamento</a></li>
        <li><a href="#how-to-manage">Como administrar o Projeto</a></li>
      </ol>
    <div class="container img-container">
      <img id = "first-img" class = "img-fluid" src="../assets/img/team_collaboration.png" alt="">
    </div>


    <div id = "what-is-it" class="video-container d-flex flex-column align-items-center justify-content-center section-container mb-5">
    <h3 class = "text-center fw-bold">O que são Projetos Sociais?</h3>
    <p class = "paragraph">Projetos sociais são iniciativas criadas para ajudar a melhorar a vida de pessoas e comunidades. Eles têm como objetivo resolver problemas sociais e promover mudanças positivas. Esses projetos podem abordar uma variedade de questões, como educação, saúde, meio ambiente, e desigualdade social. Assista ao vídeo para mais detalhes: </p>
      <video width = "70%"
      height = "auto"
      controls = "controls" 
      src="../assets/img/tae-video1.mp4"
      type = "video/mp4"
      ></video>
    </div>

    
    <div id="how-to-choose" class = "section-container mb-5">
      <h3 class = "text-center fw-bold">Como escolher uma causa</h3>
      <p class = "paragraph">Comece com uma Autoavaliação: Reflita sobre suas paixões, interesses e valores pessoais. Pergunte a si mesmo: ‘Que questões sociais me motivam de verdade?'</p>
    </div>

    
    <div id="how-to-plan"  class = "section-container mb-5">
      <h3 class = "text-center fw-bold">Como fazer o planejamento</h3>
      <p class = "paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam temporibus dolores, aliquid laudantium soluta a officiis in veniam molestiae nostrum eius, iste rerum omnis provident, ipsam facilis exercitationem eligendi consectetur.</p>
    </div>

    
    <div id="how-to-manage"  class = "section-container">
      <h3 class = "text-center fw-bold">Como administrar o Projeto</h3>
      <p class = "paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam temporibus dolores, aliquid laudantium soluta a officiis in veniam molestiae nostrum eius, iste rerum omnis provident, ipsam facilis exercitationem eligendi consectetur.</p>
    </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>