<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon"><link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  />
  <link
  rel="stylesheet"
  href="https:/use.fontawesome.com/releases/v5.15.4/css/solid.css"
  />
  <link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <script src="../assets/js/recrutar-voluntario.js" defer></script> -->
  <!-- <script src="assets/js/script.js" defer></script> -->
  <script src="../assets/js/user-page.js" defer></script>
  <link rel="stylesheet" href="../assets/css/recrutar-voluntario.css">
  <link rel="stylesheet" href="../assets/css/index-style.css">
  <link rel="stylesheet" href="../assets/css/login-style.css">
  <link rel="stylesheet" href="../assets/css/listar-projetos.css">
  <link rel="stylesheet" href="../assets/css/user-page.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/introjs.min.css" />

  <title>ActNow - Homepage</title>
</head>
<body>

  <!-- HEADER -->
  <div class="main-content">
    <nav class="navbar navbar-dark sticky-top navbar-expand-lg">
        <div class="container-fluid">
            <a href="/" class="name-logo fw-bold">
                <img class="img img-fluid me-2" src="assets/img/blue-actnow-logo.png" alt="Logo do ActNow">ActNow
            </a>
            <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    
                    <li class="nav-item">
                        <a href="/projetos" class="nav-link text-dark">
                            <span class="fa-solid fa-folder-tree projects-button"></span>
                            Projetos</a>
                    </li>

                    <li class="nav-item">
                        <a href="/voluntarios" class="nav-link text-dark">
                            <span class="bi bi-person-vcard-fill"></span>
                            Área do voluntário</a>
                    </li>
                    <li class="nav-item">
                        <a href="./pages/how-to-start.html" class="nav-link text-dark">
                            <span class="bi bi-lightbulb"></span>
                            Como começar</a>
                    </li>
                    <% if (user) { %>
                    <li class="nav-item me-2 d-flex align-items-center user-button">
                        <span class="fa-solid fa-user"></span>
                        <a href = "/usuarios" class="user-username text-dark">Olá, <%= user.username %></a>
                    </li>
                    <form action="/logout" method="POST" class=" me-2">
                        <button type="submit" class="btn text-light">Sair</button>
                    </form>
                    <% } else { %>
                    <li class="nav-item me-2">
                        <a href="/login" class="nav-link text-dark">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a href="/criar-conta" class="btn me-3">Criar Conta</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <!-- FIM DA HEADER -->

 
  <main>
    <div class="container ms-auto mt-3">
        <div class="row">
            <div class="col-lg-7 mt-2 p-1- p-md-5">
                <div class="text-to-change-container">
                    <p class="main-paragraph text-md-start text-center">ActNow - Faça parte da mudança.</p>
                </div>
                <p class="register-text text-center text-md-start">Com o ActNow é possível se tornar um Voluntário, participar de Projetos Sociais, criar os seus próprios Projetos, e muito mais!</p>

                <a href = "/projetos/criar" class = "btn btn-primary">
                    <span class="fa-solid fa-plus"></span>
                    Criar novo Projeto</a>
            </div>
            <div class="col-lg-5 text-center">
                <div class="div">
                    <img id="homepage-main-img" class="img-fluid team-img fade-in" src="../assets/img/welcoming.png" alt="">
                </div>
            </div>
        </div>
    </div>
</main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/intro.min.js"></script>

</body>
</html>