<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="assets/js/script.js"defer ></script>
    
    <link rel="stylesheet" href="assets/css/index-style.css">

    <title>ActNow</title>
</head>
<body>

    <!-- HEADER -->
    <div class="main-content">
        <nav class="navbar navbar-dark sticky-top navbar-expand-lg">
            <div class="container-fluid">
                <a href="/" class="name-logo fw-bold"><img class = "img img-fluid me-2"src="assets/img/blue-actnow-logo.png" alt="Logo do ActNow">ActNow</a>
                <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id = "navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="/projetos" class = "nav-link text-dark">Projetos</a>
                        </li>
                        <li class="nav-item">
                            <a href="./pages/how-to-start.html" class = "nav-link text-dark">Como começar</a>
                        </li>
                        <li class="nav-item">
                            <a href="/recrutar-voluntario" class = "nav-link text-dark">Recrutar</a>
                        </li>
                        <li class="nav-item me-2">
                            <a href="/login" class="nav-link text-dark">Entrar</a>
                        </li>
                        <li class="nav-item">
                            <a href="/criar-conta" class="btn me-3">Criar Conta</a>
                        </li>
                        <!-- <li class="nav-item">
                            <button id = "btn-tema" class="btn me-3">Tema</button>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- FIM DA HEADER -->
        <!-- SESSÃO PRINCIPAL -->
        <main>
            <div class="container ms-auto mt-3">
                <div class="row">
                    <div class="col-lg-7  mt-2 p-1- p-md-5">
                        <!-- <h1 class ="main-name display-5 pb-2 text-center text-md-start"><span id = "actnow-name">ActNow</span></h1> -->
                        <div class="text-to-change-container">
                            <p class = "main-paragraph text-md-start text-center">Faça parte da mudança.</p>
                            <span class = "text-to-change">Aja agora!</span>
                        </div>
                        <p class = "register-text text-center text-md-start">Crie Projetos sociais, Gerencie Voluntários e muito mais.</p>
        
                        <div class="container text-center text-md-start">
                            <a href = "/criar-conta" class = "main-btn btn">
                                Criar conta
                            </a>
                            <a href= "/login" class="login-btn btn"  >
                                Fazer login
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 text-center">
                        <div class="div"><img id = "index-main-img" class = "img-fluid team-img  fade-in " src="assets/img/team_collab.png" alt=""></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- FIM SESSÃO PRINCIPAL -->


    <!-- SESSÃO ÁREAS -->

    <section class = "mt-2">
        <div class="areas-container container-fluid pb-3">
            <h4 class = "text-center pt-3 pb-3">Participe dos projetos que mais combinam com você</h2>
            <div class="container">
                <div class="row">
                
                    <div class="col-lg-4 pb-3">
                        <div class="card">
                            <div class="card-body">
                                <span class="bi bi-laptop"></span>
                                <h5 id = "card-tecnologia"class="card-title">Tecnologia</h5>
                                <p class="card-text">Utilize suas habilidades em informática, programação ou design para impactar positivamente! Junte-se a projetos sociais inspiradores. </p>
                                <a href=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 pb-3">
                        <div class="card">
                            <div class="card-body">
                                <span class="bi bi-tree"></span>
                                <h5 id = "card-matematica" class="card-title">Meio Ambiente</h5>
                                <p class="card-text">Você adora desafios matemáticos e tem o dom de ensinar? Participe de projetos educacionais e seja um mentor para jovens estudantes.</p>
                                <a href=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <span class="bi bi-bandaid"></span>
                                <h5 id = "card-saude" class="card-title">Saúde</h5>
                                <p class="card-text">Preocupa-se com o bem-estar dos jovens e deseja promover hábitos saudáveis desde cedo? Junte-se a projetos educacionais na área da saúde.</p>
                                <a href=""></a>
                            </div>
                        </div>
                    </div>
                        
                </div>

                <div class="row pt-4 pb-4">
                    <div class="col-lg-4 pb-3">
                        <div class="card">
                            <div class="card-body">
                                <span class="bi bi-music-note"></span>
                                <h5 id = "card-musica" class="card-title">Música</h5>
                                <p class="card-text">Você é apaixonado por música e quer compartilhar essa paixão com jovens talentosos? Participe de projetos educacionais na área da música e ofereça aulas de instrumentos e muito mais.</p>
                                <a href=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 pb-3">
                        <div class="card">
                            <div class="card-body">
                                <span class="bi bi-book"></span>
                                <h5 id = "card-cultura" class="card-title">Cultura</h5>
                                <p class="card-text">Valoriza a preservação das tradições culturais e o enriquecimento do patrimônio histórico? Junte-se a projetos que ofereçam atividades como oficinas de artesanato e passeios históricos.</p>
                                <a href=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <span class="bi bi-megaphone"></span>
                                <h5 id = "card-linguagens" class="card-title">Linguagens</h5>
                                <p class="card-text">Você tem gosto por idiomas e literatura e deseja inspirar jovens a explorarem o mundo da comunicação? Participe de projetos educacionais na área de linguagens e ofereça aulas de línguas.</p>
                                <a href=""></a>
                            </div>
                        </div>
                    </div>
                    <!-- <p class = "lead text-center pt-2">E mais...</p> -->
                </div>


                
            </div>
            
            
        </div>
    </section>
    <!-- FIM DA SESSÃO ÁREAS -->

    <!-- CRIAÇÃO DE PROJETOS DEMO  -->
     <div id = "create-project-landing" class="container-fluid pb-3">
        <div class="container">
            <form id = "cadastroProjetoForm">
                <h4  class = "text-center pt-3 pb-3">Experimente</h4>
                <div class="form-group p-2">
                  <span class="bi bi-balloon"></span>
                  <label for="projeto-nome">Título do Projeto</label>
                  <input class="form-control font-weight-lighter input-sm" id="projeto-nome" name="" type="text" required>
                </div>
                <div class="form-group p-2">
                  <span class="bi bi-box-seam "></span>
                  <label for="proj-descricao">Descrição do Projeto</label>
                  <textarea class="form-control input-sm" id="proj-descricao" name="" type="text" placeholder = "O projeto se trata de uma iniciativa para promover aulas de informática..." required></textarea>
                </div>
                <div class="form-group p-2">
                    <label for="projData-inicio">Data de início do Projeto</label>
                    <input class = "form-control input-sm" id= "projData-inicio" name = "" type="date" required>
                </div>

                <div class="d-flex justify-content-center p-2 mb-1 ">
                    <input id = "create-proj-demo-button" class = "btn btn-primary" type="submit" value="Continuar">
                </div>
                <p class = "hidden" >Para continuar a criação do seu projeto, <a href="/criar-conta">Crie uma conta</a> ou, <a href="">Faça login</a> :) </p>
            </form>
        </div>

     </div>



    <!-- FOOTER -->
    <footer>
        <div class="footer container-fluid sticky-bottom pt-2 pb-3">
            <div class="row">
                <div class="col-12 pb-2 pb-md-0 col-md-4">
                    <h5 class = "text-light">Sobre</h5>
                    <ul class = "navbar-nav">
                        <li class = "nav-item">
                            <a href = "" class="nav-link text-light">O que é o ActNow</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 pb-2 pb-md-0 col-md-4">
                    <h5 class = "text-light">Contatos</h5>
                    <ul class = "navbar-nav">
                        <li class="nav-item text-light">92994499328</li>
                        <li class = "nav-item text-light">2023004309@ifam.edu.br</li>
                    </ul>
                </div>
                <div class="col-12  pb-2 pb-md-0 col-md-4">
                    <h5 class = "text-light">Redes Sociais</h5>
                    <ul class="navbar-nav">
                        <li class="nav-item text-light">
                            <a href="" class = "nav-link text-light">Github</a>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
        
    </footer>



    <!-- FIM FOOTER -->

    
   
    




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script> -->

    <!-- <% if (typeof alerta !== 'undefined' && alerta) { %>
        <script>
            // JavaScript embutido para exibir o alerta passado do Node.js
            window.onload = function() {
                alert("<%= alerta %>");
            };
        </script>
        <% } %> -->
    
</body>
</html>
